header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  background-color: black;
  color: white;
  /* margin: 0px auto 0px auto; */
  display: grid;
  justify-content: center;
}

#movie-id {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.card-list {
  border: 5px solid yellow;
  border-radius: 5px;
  margin: 10px;
}
