/* * {
  background-color: beige;
  color: blue;
} */

header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  background-color: beige;
  display: grid;
  justify-content: center;
}

.card {
  border: 2px solid blue;
}

#movie-id {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
